<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>155184351759-6mt6j3074lhll87163q270l6p3ivbma1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.155184351759-6mt6j3074lhll87163q270l6p3ivbma1</string>
	<key>API_KEY</key>
	<string>AIzaSyBr1bNC1qv_CLegIr-TL8IAC_WWLm_24Rs</string>
	<key>GCM_SENDER_ID</key>
	<string>155184351759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nclab.taehee.winecode</string>
	<key>PROJECT_ID</key>
	<string>winecode-10a78</string>
	<key>STORAGE_BUCKET</key>
	<string>winecode-10a78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:155184351759:ios:fba4db0422a0e6c3f5f17a</string>
</dict>
</plist>